<div class="header">
    <span class="n">
        Progress Tracker
    </span>

<ul class="nav justify-content-end">
        <% if logged_in? %>
            <li class="nav-item">
                <%= link_to "Home", images_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Profile", user_path(current_user.id), :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "All Users", users_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign Out", logout_path, {method: 'delete', :class => "nav-link"} %>
            </li>
            
            <div class="search-form">
                    <%= form_tag(users_path, method: "get") do %>
                        <%= text_field_tag :search, params[:search],size:"20x1", placeholder: "Search" %>
                        <%= submit_tag "Search", class: "btn btn-secondary", name: nil %>
                    <% end %>
                </div>
        <%else%>
            <li class="nav-item">
                <%= link_to "Log In", new_session_path, :class => "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign Up", new_user_path, :class => "nav-link" %>
            </li>
        <%end%>
      </ul>
</div>

      
