<h1><%= @user.name %></h1>

<ul>
<% @user.images.each do |i| %>
    <%= image_tag (i.image_url) %>
    <li><%= i.title %></li>
    <li><%= i.description %></li>
    <li><%= i.date %></li>
    <li><%= i.category %></li>
    <%if i.user == current_user%>
    <li><%= link_to("Edit", edit_image_path(i.id),  class: "btn btn-primary") %></li>
<% end%>
<% end %>
</ul>

<% if @user == current_user %>
    <%= link_to "Add New Image", new_image_path %>
<% end %>
