<div class="profile-wrapper">
        <div class="profile-name">
                <%= @user.name %>
        </div>
    <div class="name-edit-add">
            
        <%if @user == current_user%>
            <div class="edit-profile-btn">
                <h3><%= link_to "Edit Profile", edit_user_path(@user.id), class: "btn btn-secondary" %></h3>
            </div>
        <%end%>
        <div class="add-img-btn">
            <% if @user == current_user %>
                <%= link_to "Add New Image", new_image_path, class: "btn btn-secondary" %>
            <% end %>
        </div>
    </div>
</div>
<div class="profile-image">
<% @user.images.each do |i| %>
    <div class="profile-each-image">
        <div class="profile-card" style="width: 18rem;">
            <div class="profile-date">
                <%= i.date %>
            </div>
            <div class="profile-image-wrap"> 
            <%= image_tag(i.file.url) %>
            </div> 
            <div class="card-body">
                <h4 class="card-category"><%= i.category %></h4>
                <h5 class="card-title"><%= i.title %></h5>
                <p class="card-text"> <%=link_to "Click Here", image_path(i.id)%> to learn about progress </p>
            </div>
        </div>
        <%if i.user == current_user%>
            <div class="edit-delete">
                <div class="edit-img-btn">
                    <%= link_to("Edit", edit_image_path(i.id),  class: "btn btn-secondary") %>
                </div>
                <div class="delete-img-btn">
                    <%= link_to("Delete", image_path(i.id), {method: 'delete', data: {confirm: "Are you sure?"}, class:"btn btn-danger" }) %>
                </div>
            </div>
        <%end%>
    </div>
<% end %>
</div>


