<h1>Edit Image</h1>

<%= form_for(@image) do |f| %>
    <%= f.text_field(:image_url, {placeholder: "Type Image URL"}) %>
    <%= f.text_field(:date, {placeholder: "Type Date"}) %>
    <%= f.text_field(:title, {placeholder: "Type Title"}) %>
    <%= f.text_field(:description, {placeholder: "Type Description"}) %>
    <%= f.text_field(:category, {placeholder: "Type Category"}) %>    
    <%= f.submit("Submit Changes") %>
    <%end%>