<h1><%= @user.name %></h1>

<h2><%= @image.category %> </h2>

<%= image_tag(@image.image_url) %>

<%= @image.date %>

<%= @image.title %>

<%= @image.description %>


<%= link_to("Edit", "/images/#{@image.id}/edit",  class: "btn btn-primary") %>
