<h1><%= @user.name %></h1>

<div class="current-image-spacer">

</div>
<div class="current-image-wrapper">
<div class="current-date-edit">
<div class="current-image-date">
    <%= @image.date %>
</div>
<%if @user == current_user%>
<div class="current-image-edit">
    <%= link_to("Edit", edit_image_path(@image.id),  class: "btn btn-warning") %>
</div>
<%end%>
</div>
<div class="current-image">
    <%= image_tag(@image.image_url) %>
</div>

<div class="current-image-info">
    <!-- <div class="current-image-title">
        <li><%= @image.title %></li>
    </div>
    <div class="current-image-category">
        <li><%= @image.category %></li>
    </div> -->
    <div class="current-image-description">
        <%= @image.description %>
    </div>
</div>
</div>



