<!DOCTYPE html>
<html>
  <head>
    <title>ProgressTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render '/partials/flash' %>
      
      <%= render '/partials/nav' %>

      <div class="spacer">

      </div>    
      <% if @users.blank? %>                                                                                    <%#If recipes are blank, it runs this that shows a message. %>
        <h4><%= params[:search] %> does not match any user.</h4>    
        <% end %>
      <%= yield %>

</body>
</html>

